fastapi
uvicorn[standard]
python-dotenv
langgraph
langchain-core
langchain-openai
langchain-text-splitters
pypdf
rank-bm25
langchain-huggingface
langchain-chroma
langchain-community
sentence-transformers
