.footer-section{

background:#071c32;

color:white;

padding:70px 40px 20px;

}




.footer-container{

max-width:1250px;

margin:auto;

display:grid;

grid-template-columns:1.5fr 1fr 1fr 1.2fr;

gap:40px;

}





.footer-brand h2{

font-size:38px;

color:#D4A017;

margin-bottom:15px;

}



.footer-brand p{

color:#cbd5e1;

line-height:1.7;

max-width:280px;

}





.social-icons{

display:flex;

gap:15px;

margin-top:25px;

}




.social-icons a{

width:40px;

height:40px;

display:flex;

align-items:center;

justify-content:center;

background:#ffffff12;

border-radius:50%;

color:#D4A017;

transition:.3s;

}



.social-icons a:hover{

background:#D4A017;

color:#071c32;

}







.footer-column h3{

color:#D4A017;

margin-bottom:20px;

font-size:18px;

}





.footer-column a{

display:block;

color:#cbd5e1;

text-decoration:none;

margin-bottom:12px;

font-size:15px;

}





.footer-column a:hover{

color:#D4A017;

}





.footer-column p{

display:flex;

align-items:center;

gap:10px;

color:#cbd5e1;

font-size:14px;

margin-bottom:15px;

}





.footer-column svg{

width:18px;

color:#D4A017;

}





.footer-bottom{

border-top:1px solid rgba(255,255,255,.15);

margin-top:50px;

padding-top:20px;

text-align:center;

color:#94a3b8;

font-size:14px;

}





@media(max-width:900px){


.footer-container{

grid-template-columns:1fr 1fr;

}


}





@media(max-width:600px){


.footer-section{

padding:50px 20px 20px;

}



.footer-container{

grid-template-columns:1fr;

}


.footer-brand h2{

font-size:32px;

}


}